@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

/*------------------------------------------------------------------------ Body */

body {
    background-color: #0A420A;
    margin: 0;
}

/*------------------------------------------------------------------------ Nav */

.navbar {
  font-family: "Texturina", "Sans-sarif";
  font-size: 300%;
  color: yellow;
  background-color: #261101;
  display: inline;
  width: 100%;
  text-align: center;
  background-position: center;
}

.nav-link p {
  font-family: "Texturina", "Sans-serif";
  font-size: 50%;
  color: yellow;
}

.nav-item {
  color: yellow;
  margin: 1% 5% 1% 5%;
}

.mobile-nav {
  font-size: 100%;
  max-width: 100%;
  text-align: center;
}

#logo-mobile {
  font-family: "Texturina", "Sans-serif";
  font-size: 60%;
  color: yellow;
}

.mobile-nav i {
  font-size: 100%;
  color: yellow;
}

#mobile-nav {
  display: none;
}

/*------------------------------------------------------------------------ Footer */

footer {
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 1%;
  background-color: #261101;
  position: fixed;
  align-content: center;
  bottom: 0;
  left: 0;
}

.footer-links {
  text-align: center;
}

.footer-links li {
  display: inline;
  margin: 10px;
}

.footer-links i {
  font-size: 200%;
  margin: 0;
  padding: 0.5%;
  color: yellow;
}

/*------------------------------------------------------------------------ Media Queries */

@media only screen and (max-width:950px) {

/*------------------------------------------------------------------------ Media Queries - Navigation bar */

#desktop-nav {
    display: none;
}

#mobile-nav {
    display: block;
    max-height: 50px;
    padding: 0;
}

.nav-item {
    font-size: 50%;
    margin-top: -3px;
}
}