@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

/*------------------------------------------------------------------------ Body */

body {
    background-color: #0A420A;
    margin: 0;
}

/*------------------------------------------------------------------------ Nav */

.navbar {
  font-family: "Texturina", "Sans-sarif";
  font-size: 300%;
  color: yellow;
  background-color: #0A420A;
  display: inline;
  width: 100%;
  text-align: center;
  background-position: center;
}

.nav-link p {
  font-family: "Texturina", "Sans-serif";
  font-size: 50%;
  color: yellow;
}

.nav-item {
  color: yellow;
  margin: 1% 5% 1% 5%;
}
